*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 20px;
}

h3{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.display{
    width: 400px;
    margin: auto;
    padding: 2px;
   background-color: rgba(100, 148, 237, 0.53);
    text-align: center;
    border-radius: 15px;
    height: 370px;
}

input {
    width: 150px;
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
}

#playbutton{
    width: 60px;
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;    
}

p{
    padding: 10px;
}